<section class="sm:mt-6 lg:mt-8 mt-10 max-w-7xl mx-auto px-4 sm:px-6 lg:px-6">

    <div class="my-10 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28 flex gap-3 lg:flex-justify lg:flex flex-col lg:flex-row p-8">
        
        <!-- Image Section -->
        <div class="lg:inset-y-0 lg:left-0 lg:w-1/2 my-4">
            <%= image_tag("homeS.JPG", class:"h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full rounded", alt:"#") %>
        </div>
        <!-- End of Image Section -->

        <!-- Text Section -->
        <div class="sm:text-center lg:text-left lg:w-1/2 ml-[4%]">
            <h1 class="text-4xl tracking-tight font-extrabold text-white sm:text-5xl md:text-6xl">
                <span class="block xl:inline">Our Trustees</span>
            </h1>
            <p class="mt-3 text-base text-gray-100 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
            Special school trustees serve as guiding forces, steering educational endeavors for students with unique needs. Their commitment extends to crafting inclusive policies and allocating resources that cater to individual requirements. With visionary leadership, they foster innovation, enriching educational programs and facilities. Collaborating closely with educators, families, and communities, trustees ensure holistic development and empower students to flourish. They advocate tirelessly for equity, striving to create opportunities that enable every student to realize their potential. 
            </p>
            
            <!-- Button Section -->
            <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start">
                <div class="rounded-md shadow">
                    <a href="our_trust" class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white bg-gray-800 hover:bg-gray-600 md:py-4 md:text-lg md:px-10">
                        Read More
                    </a>
                </div>
            </div>
            <!-- End of Button Section -->
        </div>
    </div>
</section>
