<!-- Base -->

<a
  class="group relative inline-block text-sm font-medium text-white focus:outline-none focus:ring"
  href="#"
>
  <span class="absolute inset-0 border border-[#070F2B] group-active:border-[#1B1A55]"></span>
  <span
    class="block border border-[#070F2B] bg-[#1B1A55] px-12 py-3 transition-transform active:border-[#535C91] active:bg-[#535C91] group-hover:-translate-x-1 group-hover:-translate-y-1 group-hover:bg-[#535C91] "
  >
    Know Us
  </span>
</a>



<a
  class="group relative inline-block text-sm font-medium text-white focus:outline-none focus:ring "
  href="#"
>
  <span class="absolute inset-0 border border-current"></span>
  <span
    class="block border border-[#9290C3] bg-tranperant px-12 py-3 transition-transform group-hover:-translate-x-1 group-hover:-translate-y-1"
  >
    Reach Us 
  </span>
</a>