<% if entries.any? %>
    <div class="border p-4 ">
        <% entries.each do |entry| %>
            <div class="time-slot my-2 ">
                <div class="class-info ">
                    <%= entry.time_slot.start_time.strftime('%I:%M %p') %> - <%= entry.time_slot.end_time.strftime('%I:%M %p') %>
                     <div class="border p-4">
                    <%= "#{entry.subject.name} (#{entry.teacher.name})" %>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
<% else %>
    <p class="mt-4 text-lg text-center text-gray-500">No classes scheduled for this day.</p>
<% end %>

