<section class=" bg-blue-500ray-50">
    <div class="py-6  sm:py-6 block lg:py-24 relative bg-opacity-50  z-40  " >


        <div
            class="relative mx-auto h-full px-4 pb-20   md:pb-10 sm:max-w-xl md:max-w-full md:px-24 lg:max-w-screen-xl lg:px-8">

            <div class=" absolute  top-0 -right-1/4 z-0  opacity-10 ">
                <svg width="800px" height="800px" viewBox="0 0 24 24"
                    class="w-96 z-0  h-full    object-fill fill-g text-g" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12 6C12 5.44772 11.5523 5 11 5C10.4477 5 10 5.44772 10 6V16C10 16.5523 10.4477 17 11 17C11.5523 17 12 16.5523 12 16V6ZM9 9C9 8.44772 8.55228 8 8 8C7.44772 8 7 8.44772 7 9V16C7 16.5523 7.44772 17 8 17C8.55228 17 9 16.5523 9 16V9ZM15 9C15 8.44772 14.5523 8 14 8C13.4477 8 13 8.44772 13 9V16C13 16.5523 13.4477 17 14 17C14.5523 17 15 16.5523 15 16V9ZM18 13C18 12.4477 17.5523 12 17 12C16.4477 12 16 12.4477 16 13V16C16 16.5523 16.4477 17 17 17C17.5523 17 18 16.5523 18 16V13ZM6 15C6 14.4477 5.55228 14 5 14C4.44772 14 4 14.4477 4 15V16C4 16.5523 4.44772 17 5 17C5.55228 17 6 16.5523 6 16V15ZM21 15C21 14.4477 20.5523 14 20 14C19.4477 14 19 14.4477 19 15V16C19 16.5523 19.4477 17 20 17C20.5523 17 21 16.5523 21 16V15ZM4 18C3.44772 18 3 18.4477 3 19C3 19.5523 3.44772 20 4 20H21C21.5523 20 22 19.5523 22 19C22 18.4477 21.5523 18 21 18H4Z" />
                </svg>
            </div>

    
            <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 relative">
                <div class="max-w-xl mx-auto text-center">
                    <div class="inline-flex px-4 py-1.5 mx-auto rounded-full  ">
                        <p class="text-4xl font-semibold tracking-widest text-g uppercase">We Share</p>
                    </div>
                    <p class="mt-4 text-base leading-relaxed text-gray-600 group-hover:text-white">"At our special school, we foster a community of sharing, where each student's unique talents and perspectives enrich the learning experience for everyone."</p>
                </div>
                <div class="grid grid-cols-1 gap-2 mt-12 sm:grid-cols-3 lg:mt-20   ">
 
                    <a href="#"
                        class="transition-all  duration-1000 bg-white hover:bg-blue-500  hover:shadow-xl m-2 p-4 relative z-40 group  ">
                        <div
                            class=" absolute  bg-blue-500/50 top-0 left-0 w-24 h-1 z-30  transition-all duration-200   group-hover:bg-white group-hover:w-1/2  ">
                        </div>
                        <div class="py-2 px-9 relative  ">
                            <svg class="w-16 h-16 fill-gray-400 group-hover:fill-white"
                                xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 68 68" viewBox="0 0 68 68"
                                id="backpack">
                                <path
                                    d="M40.81303 3.82562C38.98769 2.00029 36.56427 1 33.9964 1c-5.32124 0-9.64219 4.32095-9.64219 9.64219v1.155c.86253-.45394 1.85434-.8583 2.06251-.91783v-.23717c0-4.17656 3.40312-7.57968 7.57968-7.57968 2.02128 0 3.91881.79402 5.35221 2.22748 2.39902 2.38175 2.19713 5.48257 2.21722 5.58937-1.72462-.65657.48384.15585 1.47468.62911.19594.09278.39188.18562.58782.28872v-1.155C43.62833 8.06406 42.62798 5.64064 40.81303 3.82562zM5.42237 17.56526c.06061.0124.12664.02386.18543.03651.28198.06049.54011.1233.78118.18713.06917.01832.13073.03638.19663.05482.17668.04935.34235.09851.49618.14779.05923.01901.11827.03739.17416.05621.18883.06351.36545.12633.51808.18631.02921.00856.0574.01762.0846.02719v-.0005c2.75437.97536 4.91557 2.5021 6.36275 4.47497.20293-.49549.43072-.97845.66965-1.45555.05615-.1121.1138-.22307.17196-.3341.275-.52551.56667-1.04195.88554-1.5431.03726-.0586.07843-.11481.11632-.17309.169-.25995.33832-.51978.51915-.77275-1.35251-1.14959-3.82893-2.81631-6.825-2.81631-1.77851 0-3.53385.59015-5.23784 1.75786.05923.00944.10675.02071.1646.0304C4.94514 17.47242 5.19037 17.51773 5.42237 17.56526zM6.33284 19.91547c-.00497-.00157-.00906-.00308-.0141-.00459-.18675-.05753-.39396-.11537-.61873-.17227-.04116-.01045-.08768-.02052-.13017-.03084-.18663-.04544-.38716-.09001-.59991-.13319-.0698-.01423-.14105-.0282-.21375-.04205-.22867-.04349-.47257-.08504-.7307-.12412-.05174-.00787-.09895-.01643-.15188-.02404-.31622-.04551-.65523-.08699-1.01602-.12343-.01655-.0017-.03512-.0029-.0518-.00453-.66902 3.73099-2.54307 18.68649 8.20905 27.80336l.45249-4.8301.29898-3.21259C8.67972 36.39406 4.40799 30.6788 6.33284 19.91547zM52.04333 19.40148c.31994.50278.61262 1.02093.88856 1.54833.05671.10845.11317.21677.16806.32623.23931.47742.46735.96076.67059 1.45662 1.44114-1.96482 3.60233-3.49055 6.36275-4.47195.49819-.20595 1.27729-.45527 2.38131-.67921.30169-.06703.6186-.12884.94641-.18574-1.70619-1.16513-3.46009-1.75497-5.23614-1.75497-2.99003 0-5.46443 1.66622-6.81594 2.81631.18147.25397.35154.51481.52116.77583C51.96692 19.28963 52.00701 19.34446 52.04333 19.40148zM39.9876 24.60533c0-3.30374-2.6879-5.99164-5.99113-5.99164-1.59119 0-3.09477.62238-4.23378 1.75333-1.13095 1.14002-1.75736 2.64762-1.75736 4.23831v1.15512H39.9876V24.60533z">
                                </path>
                                <path
                                    d="M54.45019,42.19164L54.12,38.66471c-0.00044-0.00497,0.00088-0.00976,0.0005-0.01473L53.19247,28.681
                                                                            c-0.12488-1.07506-0.3414-2.15566-0.64352-3.18843c-0.1121-0.38861-0.25397-0.76343-0.3888-1.14153
                                                                            c-0.07264-0.20356-0.13023-0.41416-0.20935-0.61464c-0.40069-1.01457-0.89851-1.98037-1.46361-2.90764
                                                                            c-0.39156-0.64252-0.80831-1.27056-1.27673-1.86713c-1.87519-2.38679-4.31334-4.31988-7.04757-5.58931
                                                                            c-4.6356-2.17278-10.26822-2.3747-15.14149-0.51865l-0.00101-0.00101c-0.01208,0.00504-0.02518,0.01007-0.03827,0.0146
                                                                            c-2.2609,0.90637-4.11998,2.04992-5.84813,3.59629c-0.85854,0.7594-1.64771,1.59768-2.35022,2.49549
                                                                            c-0.00063,0.00076-0.00069,0.00183-0.00132,0.00258c-1.52573,1.94317-2.64863,4.13961-3.33747,6.52791
                                                                            c-0.30313,1.02571-0.51965,2.10531-0.64755,3.21411l-0.92513,9.94205c-0.0005,0.00642,0.0012,0.01259,0.00063,0.01901
                                                                            l-0.39685,4.2395l-1.72809,18.57093c-0.1571,1.41948,0.29407,2.82587,1.23368,3.87576C13.92127,66.39877,15.26573,67,16.67162,67
                                                                            h34.6497c1.40589,0,2.75034-0.60123,3.68995-1.6491c0.93961-1.04988,1.39078-2.45627,1.23569-3.85763L54.45019,42.19164z
                                                                            M23.74537,25.76046h2.19745v-1.15512c0-2.13854,0.8389-4.16177,2.36161-5.69656c1.53379-1.52221,3.55299-2.35758,5.69203-2.35758
                                                                            c4.44123,0,8.05364,3.61291,8.05364,8.05415v1.15512h2.19746c0.57001,0,1.03125,0.46175,1.03125,1.03125
                                                                            s-0.46124,1.03125-1.03125,1.03125h-3.22871H26.97407h-3.22871c-0.57001,0-1.03125-0.46175-1.03125-1.03125
                                                                            S23.17536,25.76046,23.74537,25.76046z M18.01305,30.95902c0.09265-0.56095,0.61231-0.94615,1.18634-0.84796
                                                                            c0.56195,0.09315,0.94162,0.62439,0.84796,1.18634c-0.25177,1.51566-0.47534,3.10232-0.66367,4.71667
                                                                            c-0.06143,0.52469-0.50656,0.91141-1.0232,0.91141c-0.03928,0-0.08057-0.00201-0.12085-0.00705
                                                                            c-0.56598-0.06596-0.97083-0.57806-0.90436-1.14404C17.52764,34.1278,17.75524,32.50741,18.01305,30.95902z M16.85692,40.01974
                                                                            c0.04633-0.56699,0.52872-0.99047,1.11283-0.94213c0.56699,0.04733,0.98895,0.54584,0.94162,1.11333
                                                                            c-0.13193,1.5932-0.24875,3.18792-0.35449,4.78364c-0.03625,0.54483-0.49045,0.96277-1.02823,0.96277
                                                                            c-0.02316,0-0.04633-0.0005-0.06949-0.00252c-0.568-0.03777-0.99802-0.52922-0.96076-1.09722
                                                                            C16.60616,43.23083,16.72298,41.62403,16.85692,40.01974z M50.81475,61.55873c-0.77747,0.85653-1.88929,1.34748-3.05146,1.34748
                                                                            H20.22964c-1.16217,0-2.27399-0.49095-3.05146-1.34748c-0.77143-0.84948-1.14908-1.99201-1.0383-3.13505
                                                                            c0.7966-8.61862,7.92776-15.12186,16.58766-15.12186h2.53684c8.64077,0,15.77293,6.50223,16.58867,15.12437
                                                                            C51.96383,59.56672,51.58617,60.70926,50.81475,61.55873z">
                                </path>
                                <path
                                    d="M35.26438 45.36433h-2.53684c-7.58837 0-13.83631 5.69807-14.53422 13.25372-.0564.57857.12589 1.12844.51261 1.55443.39276.43304.93357.67122 1.52372.67122h27.53365c.59015 0 1.13095-.23817 1.52372-.67122.38672-.42599.569-.97586.51361-1.5494C49.08458 51.06342 42.83563 45.36433 35.26438 45.36433zM65.18973 19.2642c-.80372.08403-1.48671.18644-2.06786.29772-.53281.11361-1.02621.24031-1.45882.36954 1.91421 10.74004-2.35343 16.45807-5.43693 19.08504l.23654 2.54093.51544 5.50283C67.74394 37.93596 65.86372 23.00313 65.18973 19.2642z">
                                </path>
                            </svg>
                            <h3 class="mt-8 text-lg font-semibold text-black group-hover:text-white ">Backpacks and
                                Umbrella</h3>
                            <p class="mt-4 text-base text-gray-600 group-hover:text-white">Amet minim mollit non
                                deserunt ullamco est sit aliqua dolor
                                do amet sint. Velit officia consequat duis enim velit mollit.</p>
                        </div>
                    </a>

                  
                    

                  
                    <a href="#"
                        class="transition-all  duration-1000 bg-white hover:bg-blue-500  hover:shadow-xl m-2 p-4 relative z-40 group  ">
                        <div
                            class=" absolute  bg-blue-500/50 top-0 left-0 w-24 h-1 z-30  transition-all duration-200   group-hover:bg-white group-hover:w-1/2  ">
                        </div>
                        <div class="py-2 px-9 relative  ">
                            <svg class="w-16 h-16 fill-gray-400 group-hover:fill-white" viewBox="0 0 14 14"
                                role="img" focusable="false" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="m 10.093377,1.0008264 a 0.23985753,0.23985753 0 0 0 -0.02998,0.0075 0.23985753,0.23985753 0 0 0 -0.1199167,0.412214 l 0.3072877,0.307286 -1.4989597,1.49896 1.7837617,1.783762 1.49896,-1.49896 0.307286,0.307287 a 0.24378284,0.24378284 0 1 0 0.344761,-0.344761 l -2.398335,-2.398335 a 0.23985753,0.23985753 0 0 0 -0.194865,-0.07495 z m -2.8780024,1.439001 a 0.23985753,0.23985753 0 0 0 -0.029979,0.0075 0.23985753,0.23985753 0 0 0 -0.1199168,0.412214 l 0.5546151,0.554615 -5.1039577,5.103958 c -0.047967,0.04797 -0.074948,0.137904 -0.074948,0.209854 l 0.4197085,1.6938186 -1.6188764,1.618877 0,0.959334 2.1135331,-2.113533 1.6488557,0.412214 0.052464,0 c 0.07195,0 0.1169188,-0.02698 0.1648855,-0.07495 l 5.1039574,-5.1039576 0.577099,0.5771 a 0.24378284,0.24378284 0 0 0 0.344761,-0.344761 L 7.4102393,2.5147754 a 0.23985753,0.23985753 0 0 0 -0.1948647,-0.07495 z m 0.2398335,1.806247 0.8843862,0.914365 c 0.095934,0.09593 0.095934,0.233838 0,0.329771 -0.047967,0.04797 -0.1169188,0.07495 -0.1648855,0.07495 -0.047967,0 -0.1244137,-0.02698 -0.1723804,-0.07495 l -0.8843862,-0.884386 0,-0.02249 0.3372659,-0.337265 z m -0.9593342,0.981818 0.022484,0 0.4047191,0.412214 c 0.095934,0.09593 0.095934,0.233838 0,0.329771 -0.047967,0.04797 -0.1169188,0.07495 -0.1648855,0.07495 -0.047967,0 -0.1169189,-0.02698 -0.1648856,-0.07495 L 6.1810924,5.5651584 6.4958739,5.2278924 Z m -0.9593341,0.959334 0.022484,0 0.8843863,0.891881 c 0.095933,0.09593 0.095933,0.233838 0,0.329771 -0.047967,0.04797 -0.1169189,0.07495 -0.1648856,0.07495 -0.047967,0 -0.1169189,-0.02698 -0.1648856,-0.07495 l -0.9143654,-0.861901 0,-0.02249 0.337266,-0.337266 z m -0.9593342,0.959334 0.022484,0 0.4047191,0.412214 c 0.095933,0.09593 0.095933,0.233838 0,0.329772 -0.047967,0.04797 -0.1169189,0.07495 -0.1648856,0.07495 -0.047967,0 -0.1169188,-0.02698 -0.1648856,-0.07495 l -0.4122139,-0.40472 0.3147816,-0.337266 z m -0.9593342,0.959335 0.022484,0 0.8843862,0.891881 c 0.095933,0.09593 0.095933,0.233837 0,0.329771 -0.047967,0.04797 -0.1169189,0.07495 -0.1648856,0.07495 -0.047967,0 -0.1169188,-0.02698 -0.1648856,-0.07495 l -0.9143654,-0.861902 0,-0.02248 0.337266,-0.337266 z" />
                            </svg>
                            <h3 class="mt-8 text-lg font-semibold text-black group-hover:text-white ">Medical industry
                            </h3>
                            <p class="mt-4 text-base text-gray-600 group-hover:text-white">Amet minim mollit non
                                deserunt ullamco est sit aliqua dolor
                                do amet sint. Velit officia consequat duis enim velit mollit.</p>
                        </div>
                    </a>
                   

                    <a href="#"
                        class="transition-all  duration-1000 bg-white hover:bg-blue-500  hover:shadow-xl m-2 p-4 relative z-40 group  ">
                        <div
                            class=" absolute  bg-blue-500/50 top-0 left-0 w-24 h-1 z-30  transition-all duration-200   group-hover:bg-white group-hover:w-1/2  ">
                        </div>
                        <div class="py-2 px-9 relative  ">
                            <svg class="w-16 h-16 fill-gray-400 group-hover:fill-white" version="1.1" id="Capa_1"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 511 511" xml:space="preserve">
                                <g>
                                    <path
                                        d="M511,95.5C511,42.841,468.159,0,415.5,0c-38.904,0-73.487,23.396-88.182,58.904C304.4,51.735,280.243,48,255.5,48
                                                                            c-24.744,0-48.9,3.735-71.819,10.904C168.985,23.398,134.396,0,95.5,0C42.841,0,0,42.841,0,95.5
                                                                            c0,32.897,16.864,63.205,44.437,80.66c-16.129,31.695-24.664,66.871-24.664,103.34c0,61.862,24.538,120.015,69.093,163.745
                                                                            C133.383,486.938,192.562,511,255.5,511s122.117-24.063,166.634-67.755c44.555-43.73,69.093-101.882,69.093-163.745
                                                                            c0-36.469-8.535-71.645-24.665-103.341C494.138,158.705,511,128.412,511,95.5z M415.5,15c44.388,0,80.5,36.112,80.5,80.5
                                                                            c0,27.433-13.909,52.705-36.705,67.494c-4.24-7.126-8.874-14.052-13.909-20.741C461.18,132.164,471,114.639,471,95.5
                                                                            c0-30.603-24.897-55.5-55.5-55.5c-22.765,0-42.681,13.616-51.173,34.039c-7.42-3.801-15.032-7.208-22.815-10.199
                                                                            C354.087,34.365,383.006,15,415.5,15z M435.882,130.464c-4.349-5.06-8.924-9.973-13.748-14.708
                                                                            c-13.591-13.34-28.555-24.839-44.57-34.393C383.377,65.617,398.329,55,415.5,55c22.332,0,40.5,18.168,40.5,40.5
                                                                            C456,110.027,448.233,123.265,435.882,130.464z M15,95.5C15,51.112,51.112,15,95.5,15c32.488,0,61.413,19.366,73.988,48.839
                                                                            c-7.787,2.993-15.404,6.402-22.829,10.206C138.145,53.652,118.147,40,95.5,40C64.897,40,40,64.897,40,95.5
                                                                            c0,19.093,9.83,36.656,25.613,46.754c-5.035,6.689-9.668,13.615-13.908,20.74C28.912,148.204,15,122.921,15,95.5z M75.12,130.461
                                                                            C62.777,123.258,55,109.992,55,95.5C55,73.168,73.168,55,95.5,55c17.083,0,32.101,10.647,37.927,26.368
                                                                            c-16.011,9.553-30.972,21.05-44.561,34.388C84.043,120.49,79.469,125.402,75.12,130.461z M411.627,432.54
                                                                            C369.932,473.462,314.484,496,255.5,496s-114.432-22.538-156.127-63.46c-41.658-40.886-64.6-95.237-64.6-153.04
                                                                            s22.942-112.153,64.6-153.04C141.068,85.538,196.516,63,255.5,63s114.432,22.538,156.127,63.46
                                                                            c41.658,40.886,64.6,95.237,64.6,153.04S453.285,391.653,411.627,432.54z" />
                                    <path
                                        d="M178.106,223.5l2.697-2.697c2.929-2.929,2.929-7.678,0-10.606c-2.929-2.929-7.678-2.929-10.606,0l-2.697,2.697
                                                                            l-2.697-2.697c-2.929-2.929-7.678-2.929-10.606,0c-2.929,2.929-2.929,7.678,0,10.606l2.697,2.697l-2.697,2.697
                                                                            c-2.929,2.929-2.929,7.678,0,10.606c1.464,1.464,3.384,2.197,5.303,2.197s3.839-0.732,5.303-2.197l2.697-2.697l2.697,2.697
                                                                            c1.464,1.464,3.384,2.197,5.303,2.197s3.839-0.732,5.303-2.197c2.929-2.929,2.929-7.678,0-10.606L178.106,223.5z" />
                                    <path
                                        d="M356.803,210.197c-2.929-2.929-7.678-2.929-10.606,0l-2.697,2.697l-2.697-2.697c-2.929-2.929-7.678-2.929-10.606,0
                                                                            c-2.929,2.929-2.929,7.678,0,10.606l2.697,2.697l-2.697,2.697c-2.929,2.929-2.929,7.678,0,10.606
                                                                            c1.464,1.464,3.384,2.197,5.303,2.197s3.839-0.732,5.303-2.197l2.697-2.697l2.697,2.697c1.464,1.464,3.384,2.197,5.303,2.197
                                                                            s3.839-0.732,5.303-2.197c2.929-2.929,2.929-7.678,0-10.606l-2.697-2.697l2.697-2.697
                                                                            C359.732,217.875,359.732,213.125,356.803,210.197z" />
                                    <path
                                        d="M263.965,320.905c0.658,3.47,3.707,6.095,7.369,6.095c4.142,0,7.5-3.358,7.5-7.5c0-8.981-9.813-15.5-23.333-15.5
                                                                            c-4.142,0-7.5,3.358-7.5,7.5s3.358,7.5,7.5,7.5C259.969,319,262.887,320.194,263.965,320.905z" />
                                    <path
                                        d="M327.5,368c-4.142,0-7.5,3.358-7.5,7.5c0,15.715-12.785,28.5-28.5,28.5S263,391.215,263,375.5v-8.946
                                                                            c27.067-3.145,48-23.041,48-47.054c0-26.191-24.897-47.5-55.5-47.5S200,293.309,200,319.5c0,24.014,20.933,43.909,48,47.054v8.946
                                                                            c0,15.715-12.785,28.5-28.5,28.5S191,391.215,191,375.5c0-4.142-3.358-7.5-7.5-7.5s-7.5,3.358-7.5,7.5
                                                                            c0,23.986,19.514,43.5,43.5,43.5c14.954,0,28.167-7.586,36-19.11c7.833,11.524,21.046,19.11,36,19.11
                                                                            c23.986,0,43.5-19.514,43.5-43.5C335,371.358,331.642,368,327.5,368z M215,319.5c0-17.92,18.168-32.5,40.5-32.5
                                                                            s40.5,14.58,40.5,32.5S277.832,352,255.5,352S215,337.42,215,319.5z" />
                                    <path
                                        d="M391,223.5c0-26.191-21.309-47.5-47.5-47.5S296,197.309,296,223.5c0,5.008,0.817,9.943,2.368,14.633
                                                                            C284.889,234.158,270.476,232,255.5,232s-29.389,2.158-42.868,6.133c1.551-4.69,2.368-9.625,2.368-14.633
                                                                            c0-26.191-21.309-47.5-47.5-47.5S120,197.309,120,223.5c0,22.496,15.725,41.375,36.756,46.259
                                                                            C133.977,291.149,120,319.91,120,351.5c0,65.893,60.785,119.5,135.5,119.5S391,417.393,391,351.5
                                                                            c0-31.59-13.977-60.351-36.756-81.741C375.275,264.875,391,245.996,391,223.5z M167.5,256c-17.92,0-32.5-14.58-32.5-32.5
                                                                            s14.58-32.5,32.5-32.5s32.5,14.58,32.5,32.5c0,8.969-3.659,17.293-10.325,23.545c-1.289,0.636-2.596,1.322-3.913,2.034
                                                                            c-3.244,1.724-6.398,3.567-9.458,5.518C173.119,255.536,170.226,256,167.5,256z M376,351.5c0,57.622-54.056,104.5-120.5,104.5
                                                                            S135,409.122,135,351.5c0-33.952,18.772-64.17,47.784-83.27c0.334-0.152,0.661-0.322,0.97-0.521
                                                                            c4.349-2.806,8.352-5.112,12.196-7.029C213.526,251.978,233.854,247,255.5,247s41.974,4.978,59.55,13.679
                                                                            c3.845,1.917,7.848,4.223,12.196,7.029c0.31,0.2,0.636,0.37,0.97,0.521C357.228,287.33,376,317.548,376,351.5z M343.5,256
                                                                            c-2.726,0-5.619-0.464-8.805-1.403c-3.06-1.951-6.214-3.793-9.458-5.518c-1.317-0.712-2.624-1.398-3.913-2.034
                                                                            C314.659,240.793,311,232.469,311,223.5c0-17.92,14.58-32.5,32.5-32.5s32.5,14.58,32.5,32.5S361.42,256,343.5,256z" />
                                </g>
                            </svg>
                            <h3 class="mt-8 text-lg font-semibold text-black group-hover:text-white ">Toys and Baby
                                products</h3>
                            <p class="mt-4 text-base text-gray-600 group-hover:text-white">Amet minim mollit non
                                deserunt ullamco est sit aliqua dolor
                                do amet sint. Velit officia consequat duis enim velit mollit.</p>
                        </div>
                    </a>
                  

                </div>
            </div>
        </div>
</section>