<div class="card relative max-w-xl mx-auto mt-20 overflow-hidden rounded-md">
  <%= image_tag(@galleries.image, class: "h-64 w-full object-cover rounded-md") %>
  <div class="absolute inset-0 bg-gray-700 opacity-60 rounded-md"></div>
  <div class="absolute inset-0 flex items-center justify-center">
    <h2 class="text-white text-3xl font-bold"><%= @galleries.title %></h2>
    <!-- Add more details as needed -->
  </div>
</div>
