<footer class="bg-blue-900 dark:bg-gray-900">
    <div class="container px-6 py-4 mx-auto">
        <div class="flex flex-col items-center text-center">
            <div class="flex flex-wrap justify-center mt-6 -mx-4">
                <a href="/notices_summary" class="mx-4 text-md text-white transition-colors duration-300 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-400" aria-label="Reddit"> Notices </a>
                
                <a href="/weekly_timetable" class="mx-4 text-md text-white transition-colors duration-300 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-400" aria-label="Reddit"> Timetable </a>
                
                <a href="/index" class="mx-4 text-md text-white transition-colors duration-300 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-400" aria-label="Reddit"> Home </a>

                <a href="/galleries_summary" class="mx-4 text-md text-white transition-colors duration-300 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-400" aria-label="Reddit"> Gallery </a>

                <a href="/map" class="mx-4 text-md text-white transition-colors duration-300 hover:text-blue-500 dark:text-gray-300 dark:hover:text-blue-400" aria-label="Reddit"> Contact Us </a>
            </div>

        </div>

        <hr class="my-6 border-gray-200 md:my-10 dark:border-gray-700" />

        <div class="flex flex-col items-center sm:flex-row sm:justify-between">
            <p class="text-sm text-white dark:text-gray-300">© Copyright 2021. All Rights Reserved.</p>

            <div class="flex -mx-2">
                <a href="https://www.facebook.com/p/Lokvishwas-Pratisthan-100066675203513/" class="mx-2" aria-label="Facebook">
                    <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="#ffffff" d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"/>
                    </svg>
                </a>

                <a href="https://twitter.com/lokvishwasp?lang=en" class="mx-2" aria-label="X">
                    <svg class="w-5 h-5 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="#ffffff" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>